<!doctype html>
<head>
    <title>Administrator Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='view_event_log.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='eth_network.css') }}">
    <script language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body class="dark_grey_background">
<div id="all_content">
<div id="admin_header" style="width:470px;" class="ui_div_highlight">
    <h3>Administrator Login</h3>
</div>
    <div id="login_box" class="ui_div_background">
                        {% if error %}<p id="login_error">{{ error }}</p>
                {% endif %}
        <form action="/admin/login" method="post" id="form_login">
            <table id="login_table" cellpadding="5">

                <tr>
                    <td><label class="login_label">E-Mail Address</label></td>
                    <td><input size="35" name="username" class="login_input"/></td>
                </tr>
                <tr>
                    <td><label class="login_label">Password</label></td>
                    <td><input size="35" name="password" type="password" class="login_input"/></td>
                </tr>
                <tr>
                    <td>
                        [&nbsp;<a class="main_menu_anchor" href="/admin/users/recover_account">recover password</a>&nbsp;]<br />
        [ <a class="main_menu_anchor" href="/">home page</a> ]
                    </td>
                    <td align="right">
                        <input class="blue_submit_button" type="Submit" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
    <p></p>
    </div>
</div>
</body>