{% extends "admin/admin_base.jinja2" %}

{% block header %}
    <script src="{{ url_for('static', filename='code/highcharts.js') }}"></script>
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% block title %}ERC20 Master{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="admin_main_menu">
        <h3 class="ui_h3">Main Menu</h3>
        <ul id="admin_ul" class="ui_div_background">
            {% if manager %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/{{ session_token }}/0/20">Users</a></li>
            {% else %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/user-profile/{{ user_id }}/{{ session_token }}">User Profile</a></li>
            {% endif %}
            {% if onboard_users %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/create/{{ session_token }}">Onboard
                    User</a></li>
            {% endif %}
            {% if ethereum_network %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/eth_network/{{ session_token }}">Ethereum
                    Network</a></li>
            {% endif %}
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/tokens/{{ session_token }}">ERC20 Tokens</a>
            </li>
            {% if view_event_log %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/event_log/{{ session_token }}">View Event
                    Log</a></li>
            {% endif %}
            {% if transactions %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/{{ session_token }}">Graph Gas Price</a></li>
            {% endif %}
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/logout">Logout</a></li>
        </ul>
    </div>
    <div id="admin_home" class="dark_grey_background">
    <div id="admin_home_graph"></div>
    <script language="JavaScript">
    Highcharts.chart('admin_home_graph', {
    chart: {
        backgroundColor: '#3C3F41',

    },
        title:{text:{% if transactions %}"Transactions per Block (Last 24 hours)"{% else %}"Gas Price (Last 24 hours)"{% endif %},
            style:{color:"#ffffff"}},

    yAxis: {
        title: {
            text: {% if transactions %}"Transactions"{% else %}'Gwei'{% endif %}
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        style:{color:"#ffffff"}
    },

    plotOptions: {
        series: {
            pointStart: 0
        }
    },

        series: [
            {
                name: "Gas Price Moving Average",
                data: {{ metrics.moving_average.gas_price }},
                color:'#00FF00'
            }]


});</script>

        <div id="admin_home_latest_blocks"></div>
    </div>
{% endblock %}