{% extends "admin/admin_base.jinja2" %}

{% block header %}<h1>{% block title %}Users{% endblock %}</h1>
    <p id="back_nav">[ <a class="header_anchor" href="/admin/{{ session_token }}">back to administration</a> ]</p>
    <p class="view_user_paging">{% if offset > 0 %}[&nbsp;
            <a class="header_anchor" href="/admin/users/{{ session_token }}/{{ offset-limit }}/{{ limit }}">Previous
                page</a>&nbsp;]&nbsp;{% endif %}{{ user_count }} total users. Showing
            {{ offset+1 }}-{% if (offset + limit) < user_count %}{{ offset+limit }}{% else %}{{ user_count }}{% endif %}
                    {% if (offset+limit) < user_count %}&nbsp;[&nbsp;
                        <a class="header_anchor" href="/admin/users/{{ session_token }}/{{ offset+limit }}/{{ limit }}">Next
                            page</a>&nbsp;]{% endif %}</p>
{% endblock %}

{% block content %}
    <div id="users">
    {% for user in users %}
        <div class="user_record">
            <table>
                <tbody>
                <tr>
                    <td>Full name</td>
                    <td>{{ user.full_name }}</td>
                </tr>
                <tr>
                    <td>E-mail address</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% if reset_password %}
                    <tr>
                        <td>Password</td>
                        <td>[&nbsp;<a class="header_anchor" href="/admin/users/reset-password/{{ user.user_id }}/{{ session_token }}">reset password</a>&nbsp;]</td>
                    </tr>
                {% endif %}
                {% if change_permissions %}
                    <tr>
                        <td>Access Control List</td>
                        <td>[&nbsp;<a class="header_anchor" href="/admin/users/change-permissions/{{ user.user_id }}/{{ session_token }}">change permissions</a>&nbsp;]</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Last logged in</td>
                    <td>{{ user.last_logged_in }}</td>
                </tr>
                <tr>
                    <td>Last IP address</td>
                    <td>{{ user.last_logged_in_ip }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ user.created }}</td>
                </tr>
                <tr>
                    <td>Created IP address</td>
                    <td>{{ user.created_ip }}</td>
                </tr>
                {% if issue_credits %}
                <tr>
                    <td>Credits balance</td>
                    <td>{{ user.credits_balance }}&nbsp;[&nbsp;<a class="header_anchor" href="/admin/users/issue_credits/{{ user.user_id }}/{{ session_token }}">issue credits</a>&nbsp;]</td>
                </tr>
                {% endif %}
                <tr>
                    <td>ERC20 memberships</td>
                    <td>{{ user.member_tokens }}</td>
                </tr>
                <tr>
                    <td>ERC20 managements</td>
                    <td>{{ user.manager_tokens }}</td>
                </tr>
                <tr>
                    <td>Issued ERC20 tokens</td>
                    <td>{{ user.issued_tokens }}</td>
                </tr>
                <tr>
                    <td>Owned ERC20 tokens</td>
                    <td>{{ user.owned_tokens }}&nbsp;[&nbsp;<a class="header_anchor" href="/admin/tokens/view_wallet/{{ user.user_id }}/{{ session_token }}">view wallet</a>&nbsp;]</td>
                </tr>
                <tr>
                    <td>Transactions</td>
                    <td>{{ user.transactions }}&nbsp;[&nbsp;<a class="header_anchor" href="/admin/tokens/view_ledger/{{ user.user_id }}/{{ session_token }}">view ledger</a>&nbsp;]</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
        <p class="view_user_paging">{% if offset > 0 %}[&nbsp;
            <a class="header_anchor" href="/admin/users/{{ session_token }}/{{ offset-limit }}/{{ limit }}">Previous
                page</a>&nbsp;]&nbsp;{% endif %}{{ user_count }} total users. Showing
            {{ offset+1 }}-{% if (offset + limit) < user_count %}{{ offset+limit }}{% else %}{{ user_count }}{% endif %}
                    {% if (offset+limit) < user_count %}&nbsp;[&nbsp;
                        <a class="header_anchor" href="/admin/users/{{ session_token }}/{{ offset+limit }}/{{ limit }}">Next
                            page</a>&nbsp;]{% endif %}</p>
    </div>
{% endblock %}