{% extends "admin/admin_base.jinja2" %}

{% block header %}
    <script src="{{ url_for('static', filename='code/highcharts.js') }}"></script>
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% block title %}ERC20 Master{% endblock %}</h1>
    <div id="admin_header_info_bar">
    <ul id="admin_header_ul">
    {% if full_name %}
                <li class="admin_header_li">{{ full_name }}</li>
            {% else %}
                <li class="admin_header_li">{{ email_address }}</li>
            {% endif %}
                <li class="admin_header_li">Last logged in: {{ last_logged_in }}</li>
                <li class="admin_header_li">Credits: <span class="credit_balance">{{ credits }}</span></li>
    </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="admin_main_menu">
        <h3 class="ui_h3">Main Menu</h3>
        <ul id="admin_ul" class="ui_div_background">

            {% if manager %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/{{ user_id }}/{{ session_token }}/0/20">Users</a></li>
            {% else %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/user-profile/{{ user_id }}/{{ session_token }}">User Profile</a></li>
            {% endif %}
            {% if onboard_users %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/create/{{ session_token }}">Onboard
                    User</a></li>
            {% endif %}
            {% if ethereum_network %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/eth_network/{{ session_token }}">Ethereum
                    Network</a></li>
            {% endif %}
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/tokens/{{ session_token }}">ERC20 Tokens</a>
            </li>
            {% if view_event_log %}
                <li class="admin_li"><a class="main_menu_anchor" href="/admin/event_log/{{ session_token }}">View Event
                    Log</a></li>
            {% endif %}
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/logout">Logout</a></li>
        </ul>
    </div>
    <div id="admin_home" class="dark_grey_background">
    <div id="admin_home_graph"></div>
    <script language="JavaScript">
        Highcharts.chart('admin_home_graph', {
            chart: {
                backgroundColor: '#3C3F41',

            },
            title: {
                text: {% if transactions %}"Transactions per Block (Last 24 hours)"
                    {% else %}"Gas Price (Last 24 hours)"{% endif %},
                style: {color: "#ffffff"}
            },

            yAxis: {
                title: {
                    text: {% if transactions %}"Transactions"{% else %}'Gwei'{% endif %}
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                itemStyle: {
                    color: "#ffffff"
                },
                itemHiddenStyle: {
                    color: "#4c4c4c"
                }
            },

            plotOptions: {
                series: {
                    pointStart: 0
                }
            },

            series: [
                {
                    name: "Gas Prices London Node",
                    data: {{ metrics.London }},
                    color: '#A6216B'
                },
                {
                    name: "Gas Prices Amsterdam Node",
                    data: {{ metrics.Amsterdam }},
                    color: '#EC194B'
                },
                {
                    name: "Gas Price Dallas Node",
                    data: {{ metrics.Dallas }},
                    color: '#F26A4E'
                }, {
                    name: "Gas Price Moving Average",
                    data: {{ metrics.moving_average.gas_price }},
                    color: '#00FF00'
                }]


});</script>

        <div id="admin_home_latest_blocks"></div>
    </div>
{% endblock %}