{% extends "admin/admin_base.jinja2" %}

{% block header %}
    <h1>{% block title %}Distributed Ethereum Transaction Network{% endblock %}</h1>
    <p id="back_nav">[ <a class="header_anchor" href="/admin/{{ session_token }}">back to administration</a> ]</p>
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='code/highcharts.js') }}"></script>
    <div id="network_map"></div>
    <div id="network_table">
        <table cellspacing="0" cellpadding="5" id="node_table">
            <tr id="network_admin_row_header">
                <td>Identifier</td>
                <td>Last Update (UTC)</td>
                <td>IP Address</td>
                <td>Status</td>
                <td>API Key</td>
                <td>Peers</td>
                <td>Commands</td>
            </tr>
            {% for node in eth_nodes %}
                <tr>
                    <td id="{% if loop.index == 1 %}first{% elif loop.index == 2 %}second{%  elif loop.index == 3 %}third{% endif %}_node_label">{{ node.node_identifier }}</td>
                    <td>{{ node.last_update }}</td>
                    <td>{{ node.last_update_ip }}</td>
                    <td>{{ node.status }}&nbsp;{% if blocks_behind.node_id == node.id %}<em>{{ blocks_behind.count }} blocks behind</em>{% endif %}</td>
                    <td>{{ node.api_key }}</td>
                    <td>{{ node.peers }}</td>
                    <td colspan="2">{{ node.commands }}&nbsp;{% if remove_node %}[&nbsp;<a class="eth_network_anchor" href="/admin/eth_network/remove/{{ node.id }}/{{ session_token }}">remove node</a>&nbsp;]&nbsp;{% endif %}[&nbsp;<a class="eth_network_anchor" href="/admin/eth_network/restart/{{ node.id }}/{{ session_token }}">restart daemons</a>&nbsp;]</td>
                </tr>
            {% endfor %}

        {% if create_node %}
            <tr id="create_new_node">
                <td colspan="8" align="right">
                    <form action="/admin/eth_network/create_node" method="post">
                        <input type="hidden" name="session_token" value="{{ session_token }}" />
                        <input size="35" name="identifier" placeholder="New node identifier" />
                        <input class="blue_submit_button" type="submit" value="Generate new Node API Key" />
                    </form>
                </td>
            </tr>
        {% endif %}
        </table>
    </div>
    <div id="chart_container"></div>

    <script language="JavaScript">
    Highcharts.chart('chart_container', {
    chart: {
        backgroundColor: '#3C3F41',

    },
        title:{text:"Peer Counts by Node Updates",
            style:{color:"#ffffff"}},

    yAxis: {
        title: {
            text: 'Peers'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        style:{color:"#ffffff"}
    },

    plotOptions: {
        series: {
            pointStart: 0
        }
    },

    series: [{
        name: 'Dallas',
        data: {{ peer_data.Dallas }},
        color:'#A6216B'
    }, {
        name: 'London',
        data: {{ peer_data.London }},
        color:'#EC194B'
    }, {
        name: 'Amsterdam',
        data: {{ peer_data.Amsterdam }},
        color:'#F26A4E'
    }]

});</script>
{% endblock %}