
{% extends "admin/admin_base.jinja2" %}

{% block header %}
<h1>{% block title %}Access Control List{% endblock %}</h1>
<p id="back_nav">[ <a class="header_anchor" href="/admin/{{ session_token }}">back to administration</a> ]</p>
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='acl_editor.js') }}"></script>
    <div id="button_container">
        <input type="button" name="set-permissions" value="Change User Permissions"/>
        <input id="view-acl-btn" type="button" name="view-acl" value="View Full ACL"/>
    </div>
    <div id="view_acl"></div>
    <div id="acl_manager">
        <div id="access_type">
            <ul id="access_type_list" class="control_group">
                <li class="acl_type"><input type="radio" name="access_type" value="member"
                                            checked="checked">Member</input></li>
                <li class="acl_type"><input type="radio" name="access_type" value="manager">Manager</input></li>
                <li class="acl_type"><input type="radio" name="access_type" value="administator">Administator</input>
                </li>
            </ul>
        </div>
        <div id="member" class="permissions">
            <div id="member_ico_select">
                <select name="member_ico"></select>
            </div>
            <ul id="member_permissions" class="control_group">
                <li class="acl_type"><input class="member_permission_checkbox" type="checkbox" name="view-tokens">View/Internal
                    Transfer tokens</input></li>
                <li class="acl_type"><input class="member_permission_checkbox" type="checkbox"
                                            name="external-transfer-tokens">External Transfer tokens</input></li>
            </ul>
        </div>
        <div id="manager" class="permissions">
            <div id="manager_ico_select">
                <select name="manager_ico"></select>
            </div>
            <ul id="manager_permissions" class="control_group">
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="change-priority">Change
                    priority (cost per token mined)</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="issue-tokens">Issue
                    tokens</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="assign-tokens">Assign
                    tokens</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="remove-tokens">Remove
                    tokens</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="premine-tokens">Premine
                    tokens</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="burn-tokens">Burn
                    tokens</input></li>
                <li class="acl_type"><input class="manager_permission_checkbox" type="checkbox" name="token-change-permissions">
                    Change user permissions (this token)</input></li>
            </ul>
        </div>
        <div id="administrator" class="permissions">
            <ul id="admin_permissions" class="control_group">
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="onboard-users">Onboard
                    users</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="change-permissions">Change
                    user permissions</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="reset-passwords">Reset
                    passwords</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="launch-ico">Launch
                    ICO</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="ethereum-network">Ethereum
                    network</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="view-event-log">View
                    event log</input></li>
                <li class="acl_type"><input class="admin_permission_checkbox" type="checkbox" name="issue-credits">Issue
                    credits</input></li>
            </ul>
        </div>
        <div id="permission_list">
            <p id="permissions_for"></p>
            <select id="select_permissions" name="permissions" size="12">
            </select>
        </div>
    </div>
    </div>
{% endblock %}