
#header {
    width: 1024px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid antiquewhite;
}

#first_node_label {
    background-color: rgb(166,33,107);
}

#second_node_label {
    background-color: rgb(236,25,75);
}

#third_node_label {
    background-color: rgb(242,106,78);
}

.user_record {
    margin-bottom:20px;
    padding: 15px;
    color:white;
}

#owned_tokens {
    width: 550px;
    float: right;
    margin-left: 50px;
}

#create_erc20_token {
    padding: 15px;
    margin-left: 20px;
    background-color: rgb(40,40,40);
}

#login_form {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

.dark_input {

    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid rgb(80,80,80);

}

.erc20_token {
    margin-bottom:20px;
    padding:15px;
}

.login_input {

    width: 100%;
    background-color: black;
    color: white;
    padding: 3px;
    border: 1px solid rgb(80,80,80);

}


#form_login {
    padding: 5px;
}

.login_label {
    color:whitesmoke;
}

#login_table {
    width: 100%;
}

.dark_grey_background {
  background-color: rgb(40,40,40);
}

.ui_div_background {
  background-color: rgb(60,63,65);
}

.ui_div_highlight {
  background-color: rgb(81,86,88);
}

.ui_h3 {
    padding-left:5px;
    margin: 5px;
    color:whitesmoke;
}

.ui_h1 {
    padding-left: 5px;
    color:whitesmoke;
}

.login_input{
    width:100%;
    background-color: black;
    color:white;
    padding:3px;
}

#access_type {
  width: fit-content;
  float:left;
}

#view_acl {
  width:700px;
  display: none;
}

#acl_manager {
  width:700px;
  height: 220px;
}

.control_group {
  list-style-type: none;
  padding-inline-start: 0px;
}

#all_content {
    width:440px;
    margin-left:auto;
    margin-right:auto;
}

#login_box {
    width:440px;
}

#permission_list {
  width: fit-content;
  float:left;
}

#manager {
  display: none;
}

#administrator {
  display: none;
}

#select_permissions {
  width: 200px;
}

li.acl_type {
  padding: 3px;
}

#view_acl {
  display: none;
}

#onboard_user {
    width:320px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    border: 1px solid whitesmoke;
}

div.permissions {
  width: 280px;
  float: left;
  padding:20px;
}

#button_container {
  width:fit-content;
  padding:10px;
}



#admin_main_menu {
    padding-top:5px;
    width: 220px;
    float:left;
}

#admin_content_view {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

#admin_create_users_form_table {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:10px;
}

#email_confirm_msg {
    font-size: smaller;
}

#random_password_msg {
    font-size: smaller;
}

#admin_content {
    width:1024px;
    height: 768px;
    color:white;
}

#admin_header {
    padding:15px;
    color:white;
}

#admin_home {
    width:1024px;
    height:768px;
}

#admin_ul {
    margin-top:0px;
    width: 210px;
    padding:5px;
}

.admin_li {
    width: 200px;
    padding:5px;
    list-style: none;
}

.header_anchor {
    color: orange;
    text-decoration: none;
}

.header_anchor:hover {
    color: white;
    text-decoration: underline;
}

.header_anchor:visited {
    color:orangered;
    text-decoration: underline;
}

.main_menu_anchor {
    color: white;
    text-decoration: none;
}

.main_menu_anchor:hover {
    color: white;
    text-decoration: underline;
}

.main_menu_anchor:visited {
    color:white;
    text-decoration: none;
}

.admin_li:hover {
    border: 2px solid orangered;
}

#login_error {
    font-weight: bold;
    color: red;
}

#login_table {
    color:white;
}

.login_anchor {
    color: orange;
    text-decoration: none;
}

.login_anchor:hover {
    color: orangered;
    text-decoration: underline;
}

.login_anchor:visited {
    color: orangered;
    text-decoration: none;
}

.blue_submit_button {
    background-color: rgb(54,88,128);
    border: 1px solid rgb(76,122,140);
    color: white;
    padding: 12px;
}

.grey_submit_button {
    background-color: rgb(76,80,82);
    border: 1px solid rgb(96,96,96);
    color:white;
    padding: 5px;
}

#onboard_user_validation {
    font-weight: bold;
    color:red;
}

#users {
    height: 768px;
    overflow-y: scroll;
}

#onboard_checkboxes {
    float:left;
}

#onboard_submit {
    margin-top:6px;
    padding: 12px;
    margin-left: 48px;
}

.dark_input_field {
    background-color: black;
    color: white;
    text-align: right;
    padding: 5px;
    border: 1px solid rgb(96,96,96);
}

#dark_text_area {
    background-color: black;
    color: lightgray;
    padding: 10px;
    border: 1px solid rgb(96,96,96);
    margin: 24px;
}

