/* Dark theme begins */

:root {
    --background-dark-grey: rgb(40,40,40);
    --background-medium-grey: rgb(60,63,65);
    --background-grey-highlight: rgb(81,86,88);
    --dark-theme-border: rgb(96,96,96);
    --dallas-node-color: rgb(166,33,107);
    --london-node-color: rgb(236,25,75);
    --amsterdam-node-color: rgb(242,106,78);
    --market-watch-green: rgb(0,183,79);
    --dark-mode-red: rgb(209,103,90);
    --sky-blue: rgb(124,136,198);
}

.blue_submit_button {
    background-color: rgb(54,88,128);
    border: 1px solid rgb(76,122,140);
    color: white;
    padding: 12px;
}

.blue_small_submit_button {
    background-color: rgb(54,88,128);
    border: 1px solid rgb(76,122,140);
    color: white;
    padding: 5px;
    width: 64px;
}

.grey_submit_button {
    background-color: rgb(76,80,82);
    border: 1px solid rgb(96,96,96);
    color:white;
    padding: 5px;
}

.dark_input {

    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid rgb(80,80,80);

}

.dark_grey_background {
  background-color: rgb(40,40,40);
}

.ui_div_background {
  background-color: rgb(60,63,65);
}

.ui_div_highlight {
  background-color: rgb(81,86,88);
}

/* Dark theme ends */

#users_footer {
    width:1024px;
}

#footer_view {
    width:1024px;
    margin-top:24px;
    color:silver;
}

#header {
    width: 1024px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid antiquewhite;
}

#first_node_label {
    background-color: rgb(166,33,107);
}

#second_node_label {
    background-color: rgb(236,25,75);
}

#third_node_label {
    background-color: rgb(242,106,78);
}

span#latest_block_number {
    padding:5px;
}

span#latest_block_hash {
    font-size:small;
    padding:5px;
}
span#latest_block_timestamp {
    font-size: small;
    padding:5px;
}
span#latest_block_tx_count {
    font-size:small;
    padding:5px;
}
span#latest_block_gas_usage {
    font-size: small;
    padding:5px;
}
span#latest_block_size {
    font-size: small;
    padding:5px;
}

.tx_details_value {
    font-size: small;
    padding: 5px;
}

.create_user_td {
    padding: 5px;
}

div#home_latest_blocks {
    margin-top:80px;
    width:1024px;
}

.block_txns {
    color: var(--dark-mode-red);
    font-size: small;
}

.block_txns:hover {
    color: var(--sky-blue);
    font-size: small;
}

#txn_viewer {         height: 420px;
    width: 460px;
    /* padding: 5px; */
    white-space: nowrap;
    overflow-y: scroll;
    float: right;
}

table.transaction {
    width:100%;
    margin-bottom: 10px;

    border: 1px solid var(--dark-theme-border);
}

.tx_details_label {
    font-size: smaller;
    padding: 3px;
}

.txn_view1 {

}

.gas_container {
    margin: 3px;
    width: 200px;
    height: 12px;
    border: 1px solid var(--dark-theme-border);
    float:right;
}

.gas_usage {
    background-color: var(--market-watch-green);
    height: 12px;
    width: 140px;
    margin-right: auto;
}

table.transaction {
    margin-bottom: 10px;
    border: 1px solid var(--dark-theme-border);
}

div#block_data_container {
    height:420px;
    width:540px;
    padding:5px;
    white-space: nowrap;
    overflow-y: scroll;
}

div.block_data {
    height:140px;
    width:540px;
}

.block_data_label {
    font-size:small;
    padding:5px;
}

.tx_details_label {
    font-size: small;
    padding: 5px;
}

table.block_data_table {
    width:540px;
    border: 1px solid var(--dark-theme-border);
}

.user_record {
    margin-bottom:20px;
    padding: 0px;
    width:485px;
    color:white;
    border: 1px solid silver;
    background-color: rgb(40,40,40);
}

.credit_balance {
    font-weight: bold;
    color: var(--market-watch-green);
}

.credit_price {
    font-weight: bold;
    color: var(--dark-mode-red);
}

#confirmation_form_container {
    width:640px;
    padding:15px;
    margin-left:auto;
    margin-right:auto;
}

#owned_tokens {
    width: 700px;
    float: left;
    margin-top:20px;
}

.erc20_token_table {
    width:100%;
}

#create_token_table {
    width:100%;
}

#create_erc20_token {
    width:300px;
    background-color: rgb(40,40,40);
    border: 3px solid rgb(60,60,60);
    float: left;
    margin-top: 20px;
    margin-left: 18px;
}

#login_form {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

.erc20_token {
    margin-bottom:20px;
    border: 3px solid rgb(60,60,60);
}

.login_input {

    width: 100%;
    background-color: black;
    color: white;
    padding: 3px;
    border: 1px solid rgb(80,80,80);

}

#create_user_error {
    font-weight: bold;
    color:var(--dark-mode-red);
}

#home_graph_error {
    width:640px;
    height:480px;
    text-alignment:center;
    color: var(--dark-mode-red);
}

#form_login {
    padding: 5px;
}

.login_label {
    color:whitesmoke;
}

#login_table {
    width: 100%;
}


.ui_h3 {
    margin: 5px;
    color:whitesmoke;
}

.ui_h1 {
    padding-left: 5px;
    color:whitesmoke;
}

.login_input{
    width:100%;
    background-color: black;
    color:white;
    padding:3px;
}

#access_type {
  width: fit-content;
  float:left;
}

#view_acl {
  width:700px;
  display: none;
}

#acl_manager {
  width:700px;
  height: 220px;
}

.control_group {
  list-style-type: none;
  padding-inline-start: 0px;
}

#all_content {
    width:440px;
    margin-left:auto;
    margin-right:auto;
}

#login_box {
    width:500px;
}

#permission_list {
  width: fit-content;
  float:left;
}

#manager {
  display: none;
}

#administrator {
  display: none;
}

#select_permissions {
  width: 200px;
}

li.acl_type {
  padding: 3px;
}

#view_acl {
  display: none;
}

#onboard_user {
    width:320px;
    margin-left:auto;
    margin-right:auto;
    padding: 6px;
    border: 1px solid whitesmoke;
}

div.permissions {
  width: 280px;
  float: left;
  padding:20px;
}

#button_container {
  width:fit-content;
  padding:10px;
}



#admin_main_menu {
        padding-top: 5px;
    width: 200px;
    float: left;
    padding-left: 20px;
}

#admin_content_view {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

#admin_create_users_form_table {
    margin-top:20px;
    padding:10px;
}

#email_confirm_msg {
    font-size: smaller;
}

#random_password_msg {
    font-size: smaller;
}

#admin_content {
    width:1024px;
    color:white;
    background-color: rgb(40,40,40);
}

#admin_header {
    padding:15px;
    color:white;
    margin-bottom:10px;
}

#admin_home {
    width:1024px;
    height:768px;
}

#admin_ul {
    margin-top: 0px;
    padding: 5px;
    width: 160px;
}

#hash_data {
    text-align: right;
}

#hash_field {
    display: none;
}

#admin_home_graph {
    background-color: rgb(40,40,40);
    width: 794px;
    height: 400px;
    margin-left: 230px;
}

#home_login_form {
    padding-left: 10px;
    padding-top: 8px;
}

.admin_li {
    width: 170px;
    padding:5px;
    list-style: none;
    font-size: small;
}

#admin_header_ul{
    height:24px;
    display: inline;
    padding-left:0px;
}

.admin_header_li {
    width:300px;
    padding: 5px;
    display: inline;
    list-style: none;
}

#chart_toggle_list {
    display:inline;
    width:600px;
    height:32px;
    float:left;
}

#admin_header_info_bar {
    width: 100%;
    height: 32px;
}

.chart_li {
    display:inline;
    width:100px;
    padding:5px;
    list-style: none;
    font-size: small;
}

.whitepaper_anchor {
    color:rgb(124,136,198);
    text-decoration: underline;
}

.whitepaper_anchor:hover {
    color:var(--dark-mode-red);
    text-decoration: none;
}

.whitepaper_anchor:visited {
    color:var(--dark-mode-red);
    text-decoration: underline;
}

.header_anchor {
    color: orange;
    text-decoration: none;
}

.header_anchor:hover {
    color: white;
    text-decoration: underline;
}

.header_anchor:visited {
    color:rgb(124,136,198);
    text-decoration: underline;
}

.main_menu_anchor {
    color: rgb(255,135,0);
    text-decoration: none;
}

.main_menu_anchor:hover {
    color: white;
    text-decoration: underline;
}

.main_menu_anchor:visited {
    color:rgb(124,136,198);
    text-decoration: none;
}

#home_chart {
    margin-left:210px;
}

.menu_ul {
    padding-left:0px;
    margin: 12px;
}

.whitepaper_text_div {
    border: 1px solid rgb(81,86,88);
    background-color:black;
    width: 760px;
    margin-left:auto;
    padding: 15px;
}

.admin_li:hover {
    border: 2px solid orangered;
    width: 140px;
}

#login_error {
    color: var(--dark-mode-red);
    padding: 12px;
}

#login_table {
    color:white;
}

.sky_blue {
    color: rgb(124,136,198);
}

.login_anchor {
    color: rgb(124,136,198);
    text-decoration: none;
    width: 148px;
}

.login_anchor:hover {
    color: var(--dark-mode-red);
}

.login_anchor:visited {
    color: var(--dark-mode-red);
    text-decoration: none;
}



#create_user_form_div {
    padding: 15px;
}


td.node_synchronized {
    font-weight: bold;
    background-color: rgb(48,172,80);
    color: rgb(60,63,65);
}

td.node_syncing {
    font-weight: bold;
    background-color: rgb(234,194,81);
    color: rgb(60,63,65);
}

td.node_error {
    font-weight: bold;
    background-color:var(--dark-mode-red);
    color:rgb(60,63,65);
}

#onboard_user_validation {
    font-weight: bold;
    color:var(--dark-mode-red);
}

#onboard_checkboxes {
    float:left;
}

#onboard_submit {
    margin-top:6px;
    padding: 12px;
    margin-left: 48px;
}

.dark_input_field {
    background-color: black;
    color: white;
    text-align: right;
    padding: 5px;
    border: 1px solid rgb(96,96,96);
}

#dark_text_area {
    background-color: black;
    color: lightgray;
    padding: 10px;
    border: 1px solid rgb(96,96,96);
    margin: 24px;
}

#commit_acl {
    padding: 5px;
    width:300px;
}
#acl_user_email{
    font-weight: bold;
    color:white;
    float: right;
    width: 780px;
}
#acl_editor {
    padding-left: 16px;
    height:300px;
}

.view_user_paging {
    text-align: center;
    color:white;
}

.whitepaper_text {
    padding: 15px;
}