<html>
<head>
    <title>icofoundary.com</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body class="dark_grey_background">
    <h1 class="ui_h1">icofoundary.com</h1>
    <div class="ui_div_highlight" id="admin_main_menu">
        <h3 class="ui_h3">Main Menu</h3>
        <ul id="admin_ul" class="ui_div_background">
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/{{ session_token }}">Users</a></li>
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/users/create/{{ session_token }}">Onboard User</a></li>
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/ethereum-network/{{ session_token }}">Ethereum Network</a></li>
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/tokens/{{ session_token }}">ERC20 Tokens</a></li>
            <li class="admin_li"><a class="main_menu_anchor" href="/admin/logout">Logout</a></li>
        </ul>
    </div>
</body>
</html>