<html>
<head>
    <title>Onboard User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.js" />
    <script language="JavaScript">
        var email_regex = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;

        $(function () {
            $("#first_page").submit(function( event ) {
                if( $("input[type=input][name=full_name]").val().length == 0 )
                {
                    $("#message").html("Must enter a full name.");
                    event.preventDefault();
                    return;
                }
                if( $("input[type=input][name=email]").val().match(email_regex) == null) {
                    $("#message").html("Must enter a valid e-mail address.");
                    event.preventDefault();
                    return;
                }
                if( $("input[type=input][name=passwd_1]").val().length < 8 ) {
                    $("#message").html("Password must be at least 8 characters.");
                    event.preventDefault();
                    return;
                }
                if( $("input[type=input][name=passwd_1]").val() != $("input[type=input][name=passwd_2]").val() ) {
                    $("#message").html("Passwords do not match.");
                    event.preventDefault();
                    return;
                }
            });
        });
    </script>
</head>
<body class="dark_grey_background">
<div id="onboard_user">
    <div id="onboard_user_header" class="ui_div_highlight">
    <h1>Onboard User</h1>
    <p>[ <a href="/admin/{{ session_token }}">back to administration</a> ]</p>
    </div>
    <div id="onboard_user_page_one" class="ui_div_highlight">
        <form action="/admin/users/create" id="first_page" method="post">
            <input type="hidden" name="session_token" value="{{ session_token }}" />
            <input type="hidden" name="page" value="1" />
            <table cellspacing="5">
                <tr>
                    <td><strong>Full Name</strong></td>
                    <td><input type="input" name="full_name" size="35" /></td>
                </tr>
                <tr>
                    <td><strong>E-Mail</strong></td>
                    <td><input type="email" name="email" size="35" /></td>
                </tr>
                <tr>
                    <td><strong>Password</strong></td>
                    <td><input type="password" name="passwd_1" size="35"</td>
                </tr>
                <tr>
                    <td><strong>Password (repeat)</strong></td>
                    <td><input type="password" name="passwd_2" size="35"</td>
                </tr>
                <tr>
                    <td><p id="message"></p></td><td align="right"><input id="next_button" type="submit" value="Next" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>