<html>
<head>
    <title>administration > ethereum network</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body class="dark_grey_background network_map_view">
<div id="header" class="ui_div_highlight">
    <h1 class="ui_h1">worldwide ethereum transaction network</h1>
    <p>[ <a class="main_menu_anchor" href="/admin/{{ session_token }}">back to administration</a> ]</p>
</div>
<div id="network_map" /></div>
<div id="network_admin" class="ui_div_highlight">

    <table cellpadding="5" border="0" cellspacing="0">
        <tr id="network_admin_row_header">
            <td><strong>Identifier</strong></td>
            <td><strong>Remote Address</strong></td>
            <td><strong>Last Update</strong></td>
            <td><strong>Status</strong></td>
            <td><strong>Node API Key</strong></td>
            <td><strong>Action</strong></td>
        </tr>
        {% for node in ethereum_nodes %}
        <tr class="network_admin_row1">
            <td>{{ node.node_identifier }}</td>
            <td>{{ node.last_update_ip }}</td>
            <td>{{ node.last_update }}</td>
            <td>{{ node.status }}</td>
            <td>{{ node.api_key }}</td>
            <td>[ <a class="main_menu_anchor" href="/admin/ethereum-network/{{ node.id }}/restart/{{ session_token }}">restart geth</a> ]&nbsp;[ <a class="main_menu_anchor"  href="/admin/ethereum-network/{{ node.id }}/remove/{{ session_token }}">remove node from network</a> ]</td>
        </tr>
        {% endfor %}
    </table>
    <div id="create_new_node">
        <form action="/admin/ethereum-network/add-node" method="post">
        <strong>Generate new API key</strong>
        <input type="hidden" name="session_token" value="{{ session_token }}" />
        <input name="node_identifier" type="input" placeholder="New Node Identifier" />&nbsp;<input type="submit" value="Generate" />
    </form>
    </div>
</div>
</body>
</html>