<html>
<head>
    <title>Restricted Access</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body class="dark_grey_background">
    <div class="ui_div_background" id="login_form">
        <div class="ui_div_highlight">
            <h1 class="ui_h1">Log In</h1>
        </div>
        <p><strong style="color:red">{{ error }}</strong></p>
        <form action="/admin/" method="post" id="form_login">
            <table id="login_table">
              <tr>
                <td><label class="login_label">Username</label></td>
                <td><input size="35" name="username" class="login_input" /></td>
              </tr>
              <tr>
                <td><label class="login_label">Password</label></td>
                <td><input size="35" name="password" type="password" class="login_input" /></td>
              </tr>
              <tr>
                <td colspan="2" align="right">
                  <input type="Submit" value="Login"/>
                </td>
              </tr>
            </table>
        </form>
    </div>
</body>
</html>
