{% extends "base.jinja2" %}

{% block header %}
    <script src="{{ url_for('static', filename='code/highcharts.js') }}"></script>
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% block title %}ERC20 Master{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="admin_main_menu">
            <h3 class="ui_h3">Login</h3>
        {% if login_error %}<p id="login_error">{{ login_error }}</p>{% endif %}
            <form action="/login" method="post">
            <table>
                <tr>
                    <td><input name="email_address" type="text" size="24" placeholder="E-Mail" class="dark_input" /></td>
                </tr>
                <tr>
                    <td><input name="password" type="password" size="24" placeholder="Password" class="dark_input" /></td>
                </tr>
                <tr>
                    <td align="right"><input type="submit" name="submit_button" value="Login" class="blue_small_submit_button" />&nbsp;<input class="grey_submit_button" name="submit_button" type="submit" value="Create Account" /></td>
                </tr>
            </table>
            </form>
        <ul class="menu_ul">
        {% if first_block %}
            <li class="admin_li">Ethereum Network Charts</li>
            {% else %}
            <li class="admin_li"><a class="main_menu_anchor" href="/">Ethereum Network Charts</a></li>
        {% endif %}
        {% for each in whitepapers %}
            <li class="admin_li"><a class="main_menu_anchor" href="{{ each.url }}">{{ each.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% block main_content %}
    {% endblock %}
{% endblock %}