<html>
    <head>
        <title>administration > tokens</title>
        <style type="text/css">
            #ethereum_administration { border: solid black 1px; }
            tr.row1 { background-color: aliceblue; }
            tr.row2 { background-color: antiquewhite; }
            tr.table_header {background-color: darkslateblue;
            vertical-align: bottom;}
            h3 { color: antiquewhite; margin: 5px; }
        </style>
    </head>
    <body>
        <h1>ERC20 tokens</h1>
        <p>[ <a href="/admin/{{ session_token }}">back to admin</a> ]</p>
        <div id="ethereum">
            <table id="ethereum_administration" cellpadding="5" cellspacing="0" border="1">
                <tr class="table_header">
                    <td colspan="2"><h3>Ethereum Node</h3></td>
                </tr>
                <tr class="row2">
                    <td><strong>Hostname</strong></td>
                    <td>{{ eth_node.hostname }}&nbsp;({{ eth_node.ip_addr }})</td>
                </tr>
                <tr class="row1">
                    <td><strong>Account Address</strong></td>
                    <td>{{ wallet_address }}</td>
                </tr>
                 <tr class="row2">
                    <td><strong>Account ETH Balance</strong></td>
                    <td>{{ eth_balance }} ETH</td>
                </tr>
                <tr class="row1">
                    <td><strong>Latest Block</strong></td>
                    <td>{{ latest_block.hash }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Latest Block Transactions</strong></td>
                    <td>{{ latest_block.transaction_count }}</td>
                </tr>
                <tr class="row1">
                    <td><strong>Latest Block Timestamp</strong></td>
                    <td>{{ latest_block.timestamp }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Latest Block Lowest Gas Price</strong></td>
                    <td>{{ latest_block.lowest_gas_price }} Gwei</td>
                </tr>
                <tr class="row1">
                    <td><strong>Smart Contracts</strong></td>
                    <td>{{ smart_contract_count }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Total ICO Tokens</strong></td>
                    <td>{{ total_ico_tokens }}</td>
                </tr>
                <tr class="row1">
                    <td><strong>Total Issued Tokens</strong></td>
                    <td>{{ total_issued_tokens }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Tokens Pending Issuance</strong></td>
                    <td>{{ tokens_not_yet_issued }}</td>
                </tr>
                <tr class="row1">
                    <form action="/admin/ico" method="post">
                        <input type="hidden" name="session_token" value="{{ session_token }}" />
                        <td><strong>Launch ICO!</strong></td>
                        <td><input name="token_name" size="20" placeholder="Token Name" />&nbsp;
                        <input name="ico_tokens" type="number" size="10" />&nbsp;tokens&nbsp;
                            <input type="submit" value="Publish Contract" /></td>
                    </form>
                </tr>
            </table>
        </div>
        <div id="smart_contracts">
            {% if smart_contracts %}
            <h2>Smart Contracts</h2>
            {% endif %}
            {% for contract in smart_contracts %}
            <table cellpadding="5" border="1">
                <tr class="table_header">
                    <td colspan="2"><h3>{{ contract.token_name }}</h3></td>
                </tr>
                <tr class="row1">
                    <td><strong>ETH Address</strong></td>
                    <td>{{ contract.eth_address }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>ICO Tokens</strong></td>
                    <td>{{ contract.tokens }}</td>
                </tr>
                <tr class="row1">
                    <td><strong>Created</strong></td>
                    <td>{{ contract.created }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Issued Tokens</strong></td>
                    <td>{{ contract.issued_tokens }}</td>
                </tr>
                <tr class="row1">
                    <td><strong>Issued, Unassigned Tokens</strong></td>
                    <td>{{ contract.unassigned_tokens }}</td>
                </tr>
                <tr class="row2">
                    <td><strong>Issue Tokens</strong></td>
                    <td>
                        <form action="/admin/issue-tokens/" method="post">
                            <input type="hidden" name="token_id" value="{{ contract.token_id }}" />
                            <input type="hidden" name="session_token" value="{{ session_token }}" />
                            <input type="number" size="8" name="new_tokens" />&nbsp;<input type="submit" value="Issue New Tokens" />
                        </form>
                    </td>
                </tr>
                <tr class="row1">
                    <td><strong>Max Priority</strong></td>
                    <td>
                        <form action="/admin/set-priority/" method="post">
                            <input type="hidden" name="token_id" value="{{ contract.token_id }}" />
                            <input type="hidden" name="session_token" value="{{ session_token }}" />
                            <input type="number" size="4" name="new_priority" value="{{ contract.max_priority }}" />&nbsp;<input type="submit" value="Set Priority" />
                        </form>
                    </td>
                </tr>
            </table>
            <br />
            {% endfor %}
        </div>
    </body>
</html>