<html>
    <head>
        <title>Glosspoints Administration</title>
        <style href="{{ url_for('static', filename='stylesheet.css') }}"></style>
    </head>
    <body>
        <h1>Glosspoints Administration</h1>
        <p>[ <a href="/admin/{{ session_token }}">back to admin</a> ]</p>
            <div id="ethereum">
                <h2>Ethereum</h2>
                <table id="ethereum_administration" cellpadding="5" cellspacing="5">
                    <tr class="row1">
                        <td>ICO tokens</td>
                        {% if ico_tokens %}
                        <td>{{ ico_tokens }}</td>
                        {% else %}
                        <td style="text-align:right">
                            <form action="/admin/ico" method="post">
                                <input type="hidden" name="session_token" value="{{ session_token }}" />
                                <input name="tokens" size="5"  />&nbsp;<input type="submit" value="Publish" />&nbsp;<em>(31000 gas required)</em>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                     <tr class="row2">
                        <td>ETH wallet balance</td>
                        <td style="text-align:right">0.55 ETH (20 tokens)</td>
                    </tr>
                    <tr class="row1">
                        <td>Deposit Address</td>
                        <td>0xc0ffee254729296a45a3885639AC7E10F9d54979</td>
                    </tr>
                    {% if ico_tokens %}
                    <tr class="row2">
                        <td>Smart Contract Address</td>
                        <td>{{ contract_address }}</td>
                    </tr>
                    <tr class="row1">
                        <td>Glosspoints left to issue</td>
                        <td>50000</td>
                    </tr>
                    <tr class="row2">
                        <td>Issue Glosspoints</td>
                        <td>
                            <form action="/admin/issue-glosspoints" method="post">
                                <input type="hidden" name="session_token" value="{{ session_token }}" />
                                <input name="number_to_issue" size="5" value="0" />
                                <input type="submit" value="Issue" />
                            </form>
                        </td>
                    </tr>
                    <tr class="row1">
                        <td>Glosspoints pending issuance on ETH blockchain</td>
                        <td>0</td>
                    </tr>
                    <tr class="row2">
                        <td>Issued Glosspoints not assigned</td>
                        <td>5</td>
                    </tr>
                    <tr class="row1">
                        <td>Glosspoints assigned to users</td>
                        <td>0</td>
                    </tr>
                    {% else %}{% endif %}
                </table>
            </div>
        {% if ico_tokens %}
            <div id="assign_glasspoints">
                <h2>Assign Glosspoints</h2>
                <form method="post" action="/admin/glosspoints/assign">
                    <input type="hidden" name="session_token" value="{{ session_token }}" />
                    <table>
                        <tr>
                            <td><strong>Filter</strong></td>
                            <td><input type="text" id="filter_text" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><select name="assign_users" size="12" style="width: 100%"></select></td>
                        </tr>
                        <tr>
                            <td><input name=""</td><td><input type="submit" value="Assign Glosspoints"></td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
        {% if ico_tokens %}
            <div id="glasspoint_transactions">
                <h2>Latest Glosspoint transactions</h2>
                <table>
                    <tr>
                        <td><strong>Transaction ID</strong></td>
                        <td><strong>Glosspoint ID</strong></td>
                        <td><strong>Sent By</strong></td>
                        <td><strong>Received By</strong></td>
                        <td><strong>Initiated By</strong></td>
                        <td><strong>Timestamp</strong></td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </body>
</html>